@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.first-text {
	font-size: 2em;
}

.mail-button {
	font-size: 1.6em;
}

.navbar-nav {
	padding: 15px !important;
	background-color: rgba(0,255,0,.2);
}

.logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
    line-height: 20px;
}

.text-muted {
    color: #bcb;
}

.text-thin {
    font-weight: 100;
}

hr {
	height: 5px;
	border:none;
	color:#aaa;
	background-color: #aaa;
}

.navbar {
	border-radius: 0px;
}

.cover-pic {
	width: 100%;
	padding: 15px;
}

.project-pic {
	width: 100%;
	margin: auto;
}

.footer-list {
	list-style-type: none;
	display: flex;
	width: 25%;
	margin: auto;
	padding: 0px; /*necessary to override default padding of <ul> element which is 40px*/
}

.listed {
	margin: auto;
	font-size: 1.5em;
}

.myFooter {
	padding: 10px;
	background-color: rgba(194,121,221,.3);
	margin-bottom: 20px;
}

@media screen and (min-width: 1020px){
	body {
		width: 1020px;
		margin: auto;
	}
}
@media screen and (max-width: 500px) {
	.title-super {
		font-size: 3em;
	}
}

.container-fluid {
	padding: 0px;
}

